@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /*FUENTES*/
    @font-face {
        font-family: "TrebuchetMS";
        src: url('fonts/TrebuchetMS.ttf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "BebasNeue";
        src: url('fonts/BebasNeue.otf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "WebSymbolsRegular";
        src: url('fonts/websymbols-regular-webfont.eot');
        src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('fonts/websymbols-regular-webfont.woff') format('woff'),
            url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
            url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    .symbol {
        font-family: "WebSymbolsRegular";
    }

    .bebas {
        font-family: "BebasNeue";

    }

    .trebuchet {
        font-family: "TrebuchetMS";
    }

    .text-banner {
        font-family: BebasNeue;
        text-shadow: 2px 2px 1px black;

    }

}

@layer components {

    /*Estilos Menu*/
    .menu-item {
        @apply mr-5 ml-5 tracking-wider flex-none
    }

    .menu-item-a {
        @apply block transition duration-200 hover: text-azul-claro transform hover:scale-125
    }

    /*Estilos Menu*/
    .card {
        @apply flex-1 px-5 m-5 mt-10 overflow-hidden transition duration-300 bg-white border-2 border-gray-200 border-solid shadow-md cursor-pointer h-80;
    }

    .card-icon {
        font-family: "WebSymbolsRegular";
        @apply block w-full h-32 mx-auto mt-12 text-5xl text-center transition duration-300;
    }

    .card-category {
        @apply w-full h-12 text-xl font-bold text-center transition duration-300 text-azul-oscuro;
    }

    .card-description {
        @apply w-full h-12 text-base text-center transition duration-300 text-azul-oscuro;
    }

}